{% extends 'index.html' %}

{% block title %}Label: {{ label.name }}{% endblock %}

{% block content %}
    <h1 class="mb-4">Label: {{ label.name }}</h1>
    <div class="row">
        {% for person in label.people.all %}
            <div class="col-md-3">
                <div class="card">
                    {% if person.image %}
                        <img src="{{ person.image.url }}" class="card-img-top" alt="{{ person.name }}">
                    {% endif %}
                    <div class="card-body text-center">
                        <h5 class="card-title">{{ person.name }}</h5>
                        <a href="{% url 'person_detail' person.id %}" class="btn btn-primary btn-sm">View Details</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
