{% extends 'index.html' %}

{% block title %}Labels{% endblock %}

{% block content %}
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1>Labels</h1>
        <form class="d-flex" method="POST" action="">
            {% csrf_token %}
            <input class="form-control me-2" type="text" name="name" placeholder="Add Label" required>
            <button class="btn btn-primary" type="submit">Add</button>
        </form>
    </div>
    <ul class="list-group">
        {% for lbl in labels %}
            <li class="list-group-item">
                <a href="{% url 'label_detail' lbl.id %}">{{ lbl.name }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
