{% extends 'index.html' %}

{% block title %}Delete Link{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h1>Confirm Link Deletion</h1>
        <p>Are you sure you want to delete this link?</p>
        <p><strong>URL:</strong> <a href="{{ link.url }}" target="_blank">{{ link.url }}</a></p>
        
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Delete</button>
            <a href="{% url 'person_edit' person.pk %}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
{% endblock %}
